<%- include('../partials/header'); -%>
<div class="container">
    <div class="section">
        <div class="row">
            <h1><%=title%></h1>
            <p>This is Node.js + Express + MongoDB demo. Source code can be found here: <a href="https://github.com/wenbert/kea">https://github.com/wenbert/kea</a></p>
        </div>
    </div>
</div>
<%- include('../partials/footer'); -%>
