<%- include('../partials/header'); -%>
<div class="container">
    <div class="section">
        <div class="row">
            <h1><%=title%></h1>
            <p>Yis! About us...</p>
        </div>
    </div>
</div>
<%- include('../partials/footer'); -%>
