<%- include('partials/header'); -%>
<div class="container">
    <div class="section">
        <div class="row">
            <h1>Welcome!</h1>
            <p>
                The endangered kea is the world's only alpine parrot, and one of the most intelligent birds. The kea has been crowned Bird of the Year for 2017.
                <img class="responsive-img" src="/images/kea.jpg">
            </p>
            <p><b>Sources:</b><br/>
                Content: <a href="https://www.doc.govt.nz/nature/native-animals/birds/birds-a-z/kea/">https://www.doc.govt.nz/nature/native-animals/birds/birds-a-z/kea/</a><br/>
                Image: <a href="http://www.jamesreardon.org/">James Reardon</a>
            </p>
            <p>
                <b>Population:</b> 3,000–7,000 estimated<br/>
                <b>New Zealand status:</b> Endemic<br/>
                <b>Conservation status:</b> Threatened–Nationally Endangered<br/>
                <b>Found in:</b> Alpine and forested environments of the South Island<br/>
                <b>Threats:</b> Predation, human impacts including lead poisoning, deliberate killing, and accidents with man-made items such as cars
            </p>
        </div>
    </div>
</div>
<%- include('partials/footer'); -%>
